<%- include("./../partials/header"); %>
<h1>users</h1>
<ul>
    <% for(let i=0;i<users.length;i++) {%>
        <li><%= users[i].id %>-<%= users[i].name %>-<%= users[i].surname %></li>
    <% } %>

</ul>



<%- include("./../partials/footer"); %>